! Do poprawnego działania listy wymagane jest rozszerzenie uBlock Origin 1.20.0+, uBlock Origin Legacy 1.16.4.20+ lub AdGuard AdBlocker 3.3.2+ albo aplikacja AdGuard dla Windows/macOS/Android, ograniczone wsparcie dla iOS (oparte o mechanizm "Safari nie może załadować strony, ponieważ url został zablokowany przez bloker treści").
!
! Title: 🇵🇱 KAD - Przekręty
! Description: Filtry chroniące przed różnymi zagrożeniami w polskiej sieci, takimi jak wirusy, fałszywe sklepy i subskrypcje SMS. Dodatkowo zawierają one wpisy stworzone przez CERT Polska, legalniewsieci.pl, KNF i inne zespoły.
! Last modified: @modified
! Version: @version
! Expires: 2 days
! License: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
! Creator: azet12
! Maintainer: Filters Heroes
! Homepage: https://kadantiscam.netlify.app
!
! Kontakt, zgłoszenia i informacje: https://kadantiscam.netlify.app/#contact
!
! (EN) WARNING: Sites listed below can be harmful. Please, do not visit them if you don't know what you're doing!
! (PL) UWAGA: Strony poniżej mogą być szkodliwe. Proszę, nie wchodź na nie, jeśli nie wiesz co robisz!
!
!#safari_cb_affinity(security)
! Podejrzane i/lub strony połączone z innymi oszustwami
@include podejrzane_inne_oszustwa
!
! Przekierowują do innych stron z przekrętami
@include przekierowujace_do_przekretow
!
! Szybko wygaszające
@include szybko_wygaszajace
!
! Przekręty
@include przekrety + przekrety_CERT
@include przekrety-sciezki-parametry
@include przekrety-regex-wildcard
!
! Blogspot
@include blogspot
!
! Natrętne lub wprowadzające w błąd reklamy/obrazy
@include natretne_lub_wprowadzajace_w_blad
!#if !ext_ublock
@include natretne_lub_wprowadzajace_w_blad_AG
!#endif
!
!
! Reguły specjalne
kadantiscam.netlify.app###kadetect
!#safari_cb_affinity
!#if ext_ublock
!#include sections/specjalne_uBO.txt
!#endif
!#if !ext_ublock
!#include sections/specjalne_AG.txt
!#endif
