! Title: KADfake - Kontrowersje
! Description: Filtry blokujące pseudonaukę, dezinformację, nieprawdziwe informacje i kontrowersyjne strony. Satyra i kwestie polityczne nie stanowią głównego celu listy.
! Homepage: https://kadantiscam.netlify.app
! Last modified: @modified
! Version: @version
! Expires: 2 days
! Licencja: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
! GitHub: https://github.com/PolishFiltersTeam/KAD
! Kontakt, zgłoszenia i informacje: https://kadantiscam.netlify.app/#contact
!
!
! Do poprawnego działania listy wymagane jest rozszerzenie uBlock Origin 1.20.0+ lub AdGuard AdBlocker 3.3.2+.
! Używanie tej listy jest jednoznaczne ze świadomością co do jej zawartości, a twórcy nie ponoszą odpowiedzialności za jakiekolwiek pośrednie, bezpośrednie, karne, specjalne, przypadkowe lub wynikowe szkody. Pobierając, przeglądając albo korzystając z KADfake, akceptujesz te zasady i warunki.
!
!
! Źródła:
! http://fakenews.pl/
! https://www.totylkoteoria.pl/
! https://demagog.org.pl
! https://sprawdzam.afp.com
!
!
@include pseudonauka_fake_news
