! Title: KADfake - Polska Lista Fake-Newsowa
! Description: Filtry blokujące pseudonaukę, dezinformację, nieprawdziwe informacje i kontrowersyjne strony (bez polityki).
! Homepage: https://kadantiscam.netlify.com
! Last modified: @modified
! Version: @version
! Expires: 2 days
! Licencja: CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)
!
! Najnowsza wersja zawsze na: https://github.com/PolishFiltersTeam/KAD
! Do poprawnego działania listy wymagane jest rozszerzenie uBlock Origin 1.20.0+ lub AdGuard AdBlocker 3.3.2+.
! GitHub: https://github.com/PolishFiltersTeam/KAD
!
! Kontakt, zgłoszenia i informacje: https://kadantiscam.netlify.com/#contact
!
!
@include pseudonauka_fake_news
