name: Aktualizacja listy

on:
  workflow_dispatch: null
  schedule:
      - cron: "57 7,11,15,19 * * *"
      - cron: "15 0 * * 0"

jobs:
  CERT_LWS:
    runs-on: ubuntu-latest
    container: ghcr.io/filtersheroes/kad_image:3.0.12
    steps:
      - uses: actions/checkout@v6
      - name: Dodawanie nowości z CERT
        run: |
          ./scripts/addNoveltiesFrom3p.py CERT
      - name: Dodawanie nowości z LWS
        run: |
          ./scripts/addNoveltiesFrom3p.py LWS
      - uses: actions/upload-artifact@v5
        with:
          name: CERT
          path: |
            sections/CERT_novelties.txt
      - uses: actions/upload-artifact@v5
        with:
          name: LWS
          path: sections/LWS_novelties.txt
  Aktualizacja:
    needs: [CERT_LWS]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container: ghcr.io/filtersheroes/kad_image:3.0.12
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/download-artifact@v6
        with:
          name: CERT
          path: sections
      - uses: actions/download-artifact@v6
        with:
          name: LWS
          path: sections
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.APP_HELPER_ID }}
          private-key: ${{ secrets.PRIVATE_APP_HELPER_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "KAD,KADhosts"
      - name: Aktualizacja całej listy
        env:
          GIT_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          python3 ./scripts/build.py
